.subservice-subservice {
  overflow: hidden;
  width: 100%;
  padding-bottom: 1.25rem;
}
.subservice-business {
  width: 100%;
  text-align: center;
  padding: 1.25rem 0 0 0;
}
.subservice-container {
  float: left;
  width: 25%;
}
.subservice-business .subservice-bsi-icon {
  width: 47%;
  margin: auto;
  margin-bottom: 0.83rem;
}
.subservice-business .subservice-a {
  display: block;
  font-size: 1.2rem;
  color: #5c5c5c;
  height: 2.5rem;
  font-size: 1rem;
}
div .f-carousel .slick-slider {
  padding-bottom: 0;
  background: #fff;
}
.f-carousel .slick-dots {
  margin-bottom: 0;
}

